

<html>
<head>
{% load static %}
<title>json with jq</title>

 <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/1.12.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/	libs/ag-grid/10.0.1/ag-grid.js"></script>
    <script src={% static 'aggrid/ag.js' %}></script> 
</head>
<body style ="">
 <input placeholder="Filter..." type="text"
           onpaste="onFilterChanged(this.value)"
           oninput="onFilterChanged(this.value)"
           onchange="onFilterChanged(this.value)"
           onchange="onFilterChanged(this.value)"
           onkeydown="onFilterChanged(this.value)"
           onkeyup="onFilterChanged(this.value)"/>


<div style ="">
<button id  = "id">id</button>
<button id  = "cg_fees">cg_fees</button>

</div>
<div id="myGrid" style="height: 90%;" class="ag-fresh"></div>   
<div> 

</div>


        

</body>
</html>